.center{
    padding: 150px 100px;
    display: flex;
    height: 100vh;
    box-shadow: 0px 10px 8px 1px #cccccc2c;
    background: linear-gradient(90deg, #ccfed9, #1ec7e8);
}
.center-left{
    display: flex;
    flex-direction: column;
    width: 40%;
    
}
.center-left h1{
    font-size: 90px;
    font-weight: 600;
    
}

.arya img{
    width: 170px;
}

.nome-logo{
    display: flex;
    flex-direction: row;
    width: 100%;
}


.center-rigth{
    align-items: center;
    display: flex;
    width: 50%;
    padding: 0 20px;
}
.center-rigth .mocap img{
    width: 800px;
    
}

.demonstracao h3{
    margin: 0;
    font-weight: normal;
    font-style: normal;
    color:#3a5ef2;
    font-size: 70px;
}

.demonstracao p{
    margin: 5px 0;
    font-size: 25px;
    font-weight: normal;
    color: #555555;
}

.btn-agenda{
    outline: none;
    padding: 10px;
    border: none;
    margin-top: 20px;
    font-size: 16px;
}
.btn-agenda:hover{
    transform: scale(1.1);
}

.btn-agenda{
    cursor: pointer;
    width: 230px;
    border-radius: 50px;
    background-color: #1babff;
    color: #fff;
}

.botoes{
    width: 100%;
    padding: 0 10px;
}

.botoes Button{
    width: 40%;
    padding: 10px;
    margin: 0 10px;
}

#experimente{
    background-color: #fff !important ;
    color: #6e788c !important;
}



